
.hidden {
  display: none;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

* {
  font-family: "Ubuntu", sans-serif;
  background-color: #fefdfc;
}

nav {
  top: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
}

.center img {
  height: 3rem;
  width: auto;
  margin-right: 1rem;
  margin-top: auto;
  margin-bottom: auto;
}

.center p {
  margin: auto 0;
  font-size: 1.8rem;
  color: #e34432;
  font-weight: bolder;
  font-family: "Ubuntu", sans-serif;
}

.task-panel {
  margin: auto;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  border: #e34432 3px solid;
  border-radius: 1rem;
  align-items: center;
  justify-items: center;
  max-height: 30rem;
  max-width: 30rem;
  overflow: hidden;
  position: relative;
}

.panel-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-radius: 1rem;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
}

.create {
  border-radius: 1rem;
}

.create button {
  padding: 0.8rem 1rem;
  font-weight: 450;
  font-size: large;
  color: white;
  background-color: #e34432;
  border-top-left-radius: 0.8rem;
  border: none;
}

.tasks-seperator {
  border-radius: 0.8rem;
  /* background-color: #e34432; */
}

.tasks-seperator button {
  padding: 0.8rem 1rem;
  font-weight: 450;
  font-size: large;
  border: none;
}

.tasks-seperator button:last-child {
  border-top-right-radius: 0.8rem;
}

.first {
  color: white;
  background-color: #e34432;
  border-bottom-left-radius: 0.8rem;
}

.second {
  color: #e34432;
  background-color: white;
  border-bottom-right-radius: 0.8rem;
}

.third {
  color: white;
  border-bottom-right-radius: 0.8rem;
  background-color: #e34432;
}

.fourth {
  color: #e34432;
  border-bottom-left-radius: 0.8rem;
  background-color: white;
}

.table-wrapper {
  overflow-y: auto;
  height: calc(30rem - 4rem); /* Adjust height based on your need */
  width: 100%;
}

.table-wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.table-wrapper {
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  border-bottom: #e34432 1px solid;
}

th,
td {
  text-align: center;
  padding: 0.5rem;
}

td:first-child {
  text-align: left;
}

td button {
  border: 1px black solid;
}

th {
  color: #e34432;
  border-bottom: #e34432 1px solid;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

td {
  font-size: large;
}

thead tr{
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 20rem;
  background-color: white;
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.form-panel p{
font-weight: bold;
font-size:xx-large;
color: #dd3320;
border-bottom:#dd3320 1px solid;
padding-bottom: 0.3rem;
margin-bottom: 1rem;
display: flex;
justify-content: space-between;
}

.field{
  margin-bottom: 1rem;
}

label{
  font-weight: 900;
  font-size: larger;
  color: black;
}

.task{
  border: none;
border-bottom: #e34432 1px solid;
font-size: large;
outline: none;
}


select{
  padding: 0.5rem 1rem;
  font-size: large;
  border: #e34432 1px solid;
  outline: #e34432;
}

.btn-div{
  display: flex;
  justify-content:center;
}

.submit-btn{
  text-align: center;
  padding: 0.5rem 1rem;
  border: #e34432 1px solid;
  font-size: large;
  font-weight: 500;
  width: fit-content;
}

.form-itself{
  display: flex;
  flex-direction: column;
  justify-items: center;
}

option:hover{
background-color: #e34432;
}

.cross{
  cursor: pointer;
}

button{
  cursor: pointer;
}