<div class="container">
  <div class="nav">
    <img src="assets/images/logo.svg" />
    <p>ToDo List</p>
  </div>

  <div class="panel">
    <div class="signup-panel">
      <p class="signup-title">Sign up</p>
      <form
        (ngSubmit)="onSubmit(signupForm)"
        #signupForm="ngForm"
        class="signup-form"
      >
        <div class="field">
          <div class="signup__field">
            <input
              class="signup__input"
              type="email"
              id="email"
              name="email"
              ngModel
              required
              email
            />
            <label class="signup__label" for="email">Email</label>
          </div>
          <div
            *ngIf="
              signupForm.controls['email']?.invalid &&
              signupForm.controls['email']?.touched
            "
          >
            <span *ngIf="signupForm.controls['email']?.errors?.['required']"
              >Email is required.</span
            >
            <span *ngIf="signupForm.controls['email']?.errors?.['email']"
              >Invalid email format.</span
            >
            <span *ngif="emailExists">Email already Exists</span>
          </div>
        </div>
        <div class="field">
          <div class="signup__field">
            <input
              class="signup__input"
              type="text"
              id="username"
              name="username"
              ngModel
              required
            />
            <label class="signup__label" for="username">Username</label>
          </div>
          <div *ngIf="usernameExists">Username already exists.</div>
        </div>
        <div class="field">
          <div class="signup__field">
            <input
              class="signup__input"
              type="password"
              id="password"
              name="password"
              ngModel
              required
              minlength="8"
              pattern="^(?=.*[0-9])(?=.*[a-zA-Z]).{8,}$"
            />
            <label class="signup__label" for="password">Password</label>
          </div>
          <div
            *ngIf="
              signupForm.controls['password']?.invalid &&
              signupForm.controls['password']?.touched
            "
          >
            <span *ngIf="signupForm.controls['password']?.errors?.['required']"
              >Password is required.</span
            >
            <span *ngIf="signupForm.controls['password']?.errors?.['minlength']"
              >Password must be at least 8 characters long.</span
            ><br />
            <span *ngIf="signupForm.controls['password']?.errors?.['pattern']"
              >Password must contain both letters and numbers.</span
            >
          </div>
        </div>

        <button type="submit" [disabled]="signupForm.invalid">Sign Up</button>
      </form>
      <p class="acc-exist">
        Already have an account? <a routerLink="/login">Log in</a>
      </p>
    </div>
    <img src="assets/images/vector1.svg" />
  </div>
</div>
