<div class="container">
  <div class="nav">
    <div class="left">
      <img src="assets/images/logo.svg" />
      <p>ToDo List</p>
    </div>
    <div class="right">
      <a href="#">Features</a>
      <a href="#">Pricing</a>
      <a href="#">For Team</a>
      <span></span>
      <a routerLink="/login">log in</a>
      <a routerLink="/signup">Start for free</a>
    </div>
  </div>
  <div class="hero">
    <p class="heading">
      <span class="title">Organize your work<br />and life, finally.</span
      ><br />
      <span class="sub-title">
        Simplify life for both you and your team. The world’s #1 task <br />
        and to-do list app.
      </span>
    </p>
    <a routerLink="/signup" class="signup-btn">Start for free</a>
  </div>
</div>
